<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coursemates</title>
  <link rel="shortcut icon" href="images/logo-round.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style/styleLanding.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta property="og:image" content="https://www.coursemates.co/images/logo-round.png"/>
  <!--<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126183845-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-126183845-1');
  </script>
</head>
<body>
<div class="page" id="home">
  <img class="logo" src="images/logo-round.png">
  <div class="content">
  <h1 class="mainHeader">Coursemates</h1>
    <h2>Connect.</h2>
    <p>Coursemates is set to launch a centralised online platform for students across the UK, with personalised hubs for different subject areas.</p>
    <h2>Share.</h2>
    <p>Coursemates was founded on the idea that, regardless of where you are studying, you should be able to share ideas, experiences and knowledge with other students.</p>
    <h2>Learn.</h2>
    <p>Coursemates believes that no matter what your University teaches, you should have access to all knowledge surrounding your subject.</p>  <h1 class="emailInstruction">Be one of the first.</h1>
    <form class="form" id="myForm" action="#" th:action="@{/}" th:object="${person}" method="post">
      <input class="email" id="firstName" type="text" name="firstName" placeholder="First Name" required='true' th:field="*{firstName}">
      <input class="email" id="surname" type="text" name="surname" placeholder="Surname" th:field="*{surname}">
      <input class="email" id="email" type="email" name="email" placeholder="Email me when we launch" th:field="*{email}">
      <input class="email" id="consent" type="checkbox" name="consent" required th:field="*{consent}">
      <label class="email label-text">I would like to subscribe to updates from Coursemates</label>
      <input class="submitButton" type="submit" value="submit">
    </form>
    <div class="socialMedia">
      <a href="https://www.facebook.com/Coursemates-529717987493728" target="_blank"> <i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/CoursematesSite" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://instagram.com/coursemates" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="footer">
      <a href="/">Home</a>
      <a href="privacy">Privacy</a>
      <p class="copyright">© Sean Martin</p>
    </div>
  </div>
</div>
</body>
</html>